build/
/components/plnx_workspace
/components/yocto
*/*/config.old
images/linux/sdk.sh
*.jou
*.log
.petalinux/*
!.petalinux/metadata
pre-built/linux/
*/*/rootfs_config.old
/sdk/sysroots/usr/include/linux/netfilter_ipv4/ipt_ECN.h
/sdk/sysroots/usr/include/linux/netfilter_ipv4/ipt_TTL.h
/sdk/sysroots/usr/include/linux/netfilter_ipv6/ip6t_HL.h
/sdk/sysroots/usr/include/linux/netfilter/xt_CONNMARK.h
/sdk/sysroots/usr/include/linux/netfilter/xt_DSCP.h
/sdk/sysroots/usr/include/linux/netfilter/xt_MARK.h
/sdk/sysroots/usr/include/linux/netfilter/xt_RATEEST.h
/sdk/sysroots/usr/include/linux/netfilter/xt_TCPMSS.h
/sdk/sysroots/usr/lib/xtables/.debug/libip6t_HL.so
/sdk/sysroots/usr/lib/xtables/.debug/libipt_TTL.so
/sdk/sysroots/usr/lib/xtables/.debug/libxt_CONNMARK.so
/sdk/sysroots/usr/lib/xtables/.debug/libxt_DSCP.so
/sdk/sysroots/usr/lib/xtables/.debug/libxt_MARK.so
/sdk/sysroots/usr/lib/xtables/.debug/libxt_RATEEST.so
/sdk/sysroots/usr/lib/xtables/.debug/libxt_SET.so
/sdk/sysroots/usr/lib/xtables/.debug/libxt_TCPMSS.so
/sdk/sysroots/usr/lib/xtables/.debug/libxt_TOS.so
/sdk/sysroots/usr/lib/xtables/libip6t_HL.so
/sdk/sysroots/usr/lib/xtables/libipt_TTL.so
/sdk/sysroots/usr/lib/xtables/libxt_CONNMARK.so
/sdk/sysroots/usr/lib/xtables/libxt_DSCP.so
/sdk/sysroots/usr/lib/xtables/libxt_MARK.so
/sdk/sysroots/usr/lib/xtables/libxt_RATEEST.so
/sdk/sysroots/usr/lib/xtables/libxt_SET.so
/sdk/sysroots/usr/lib/xtables/libxt_TCPMSS.so
/sdk/sysroots/usr/lib/xtables/libxt_TOS.so
